.coffee-products {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
  margin: 50px auto;
  gap: 20px;
}

.coffee-products h1 {
  grid-column: -1/1;
  color: #744646;
  text-align: center;
  font-size: 2.5em;
}

.coffee-products p {
  grid-column: -1/1;
}

.coffee {
  padding: 10px;
  color: #744646;
  text-decoration: none;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr auto;
}

.coffee img {
  grid-column: -1/1;
}

img {
  width: 100%;
}
