.contact {
  text-align: center;
  max-width: 1000px;
  margin: auto;
  min-height: 86.4vh;
  color: #744646;
}

.contact-spesific {
  display: flex;
  text-align: left;
  flex-direction: column;
  margin: 25px;
}

.contact-spesific > * {
  flex: 1;
  display: flex;
  flex-direction: column;
}

input,
textarea {
  color: #744646;
  border: 2px solid;
  border-radius: 7px;
  padding: 6px;
  margin: 10px 10px 10px 0px;
}

textarea {
  height: 75%;
  min-height: 100px;
}

.form-error {
  display: none;
  color: red;
  padding-bottom: 30px;
}

.cta-contact:hover {
  background-color: #aa7f7f;
  text-decoration: underline;
  cursor: pointer;
}
