.punchline {
  background-image: url(../images/Home-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 60vh;
  position: relative;
  margin-bottom: 10px;
  background-position-x: left;
}

.punchline-content h1 {
  color: #ffff;
  position: absolute;
  font-family: Georgia, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.4em;
  margin-left: 10px;
}

span {
  color: #f56e85;
}

.span-content {
  display: block;
}

.product-spesific {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.product-spesific h2 {
  grid-column: 1;
}

.product-spesific img {
  grid-column: -1/1;
}

.home-location {
  background-color: #d2cfcf;
  color: #744646;
}

.home-location-content {
  display: flex;
  max-width: 1000px;
  margin: auto;
  flex-direction: column;
}

.home-location-content > * {
  flex: 1;
  margin-left: 25px;
}

.home-product-spesific {
  color: #744646;
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
  margin: 50px auto;
  gap: 10px;
}

.home-product-spesific h1 {
  grid-column: -1/1;
  color: #744646;
  text-align: center;
  font-size: 2.5em;
}

.home-coffee {
  padding: 10px;
  color: #744646;
  text-decoration: none;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr auto;
}
.home-coffee p {
  grid-column: -1/1;
}

.home-coffee img {
  grid-column: -1/1;
}

img {
  width: 100%;
}

.home-link {
  grid-column: 2;
  grid-row: 2;
}

.woocommerce-Price-amount {
  color: #744646;
}

.woocommerce-Price-currencySymbol {
  color: #744646;
}
