@media (min-width: 600px) {
  .product {
    grid-template-columns: repeat(2, 1fr);
  }

  .coffee-details {
    flex-direction: column-reverse;
  }

  .punchline {
    min-height: 80vh;
  }

  .punchline-content h1 {
    font-size: 1.8em;
  }

  .home-product-spesific {
    grid-template-columns: 1fr 1fr;
  }

  .coffee-products {
    grid-template-columns: repeat(2, 1fr);
  }

  nav {
    display: block;
    position: static;
  }

  nav li {
    display: inline-block;
  }

  header label {
    display: none;
  }

  .contact-spesific {
    flex-direction: row;
  }

  .location-page h1 {
    font-size: 2.2em;
  }
}

@media (min-width: 900px) {
  .home-product-spesific {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .coffee-details {
    flex-direction: row;
    margin: 50px auto;
    min-height: 74.5vh;
  }

  .product-spesific {
    flex-direction: row;
  }

  .home-location-content {
    flex-direction: row;
  }

  .punchline {
    min-height: 95vh;
  }

  .punchline-content h1 {
    font-size: 2.2em;
  }

  .location-page-spesific {
    font-size: 1.3em;
    flex-direction: row;
  }

  .location-page h1 {
    font-size: 2.2em;
  }

  .about {
    margin: 25px auto;
  }

  header {
    justify-content: normal;
  }
}

@media (min-width: 1100px) {
  .coffee-products {
    grid-template-columns: repeat(4, 1fr);
  }
}
