body {
  margin: 0px;
}

.logo {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.7em;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  background-color: #744646;
  justify-content: space-evenly;
}

.location-icon {
  max-width: 20px;
}

.shopping-cart-icon {
  max-width: 25px;
}

footer {
  background-color: #744646;
  color: #fff;
  text-align: center;
}

nav {
  margin-left: 25px;
  display: none;
  position: absolute;
  top: 51px;
  background: #744646;
  z-index: 1000;
  right: 0px;
}

nav li {
  display: block;
  margin: 10px;
  font-family: "roboto";
  padding: 5px;
}

nav ul {
  padding: 0px;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.home-map {
  border-radius: 20px;
  margin: 25px;
  width: 80%;
}

/*links*/
header a {
  padding: 10px;
  margin-left: 10px;
  color: #ffff;
  text-decoration: none;
}

.current {
  text-decoration: underline;
}

nav a:hover {
  text-decoration: underline;
}

.cta {
  background-color: #744646;
  color: #ffff;
  text-decoration: none;
  font-family: "roboto";
  font-size: 1em;
  padding: 3px 20px;
  border-radius: 20px;
}

.cta:hover {
  background-color: #aa7f7f;
  text-decoration: underline;
  cursor: pointer;
}

.cta-home {
  background-color: #744646;
  margin: auto;
  color: #fff;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 15px;
  padding: 5px 30px;
}

.cta-home:hover {
  background-color: #aa7f7f;
  text-decoration: underline;
  cursor: pointer;
}

.cta-contact {
  background-color: #744646;
  color: #ffff;
  text-decoration: none;
  font-family: "roboto";
  padding: 5px 40px;
  border-radius: 10px;
}

.product-spesific {
  display: flex;
  max-width: 1000px;
  margin: 50px auto;
  font-family: "roboto", Verdana, Geneva, Tahoma, sans-serif;
  flex-direction: column;
  padding: 15px;
  height: 75vh;
}

.product-spesific > * {
  flex: 1;
}

.product-spesific img {
  max-width: 1000px;
  width: 800px;
}

.product-spesific__details {
  padding: 30px;
}

.product-spesific__details > * {
  flex: 1;
}

.product-spesific__details a {
  display: block;
  width: 100px;
  text-align: center;
}

.product-spesific__details a:hover {
  color: grey;
}

.product-spesific__details h2 {
  font-size: 1.8em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.product-spesific__details p {
  font-size: 1.1em;
  font-family: "roboto", Verdana, Geneva, Tahoma, sans-serif;
}
