body {
  margin: 0px;
}

.logo {
  font-family: Georgia, Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: #ffff;
  font-size: 1.7em;
  margin-left: 10px;
}

header {
  display: flex;
  align-items: center;
  background-color: #744646;
}

nav {
  margin-left: 25px;
}

nav li {
  display: inline-block;
  align-items: center;
  margin: 10px;
}

nav ul {
  margin-left: 25px;
}

nav a {
  font-family: "roboto", Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: #ffff;
}

.location {
  max-height: 30px;
  margin-left: 1000px;
}

.punchline {
  background-image: url(../images/Home-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 90vh;
}

.punchline-content {
  color: #ffff;
  margin-left: 10px;
}
